{% extends 'layouts/base.html' %}

{% block title %}Chart.js Example{% endblock title %}
{% block headContent %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment/dist/chartjs-adapter-moment.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
<style>
  /* Define the CSS animation */
  @keyframes updateTimeAnimation {
    from {
      opacity: 0;
      /* Start with opacity 0 */
    }

    to {
      opacity: 1;
      /* Transition to opacity 1 */
    }
  }

  /* Apply the animation to the lastUpdated element */
  .lastUpdated {
    animation-name: updateTimeAnimation;
    animation-duration: 1s;
    /* Set the duration of the animation */
    animation-fill-mode: forwards;
    /* Maintain the final state after animation */
  }
</style>
{% endblock headContent %}
{% block bodyContent %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Connected Devices</h5>
          <p class="card-text">Number of connected devices: <span id="connectedDevices">0</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Current Device</h5>
          <p class="card-text">Device 1 <span id="currentTime"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Last Updated</h5>
          <p class="card-text">Last updated: <span id="lastUpdated"></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Temperature</h5>
          <canvas id="tempBarChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Humidity</h5>
          <canvas id="humidityBarChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6 ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">RSSI</h5>
          <canvas id="rssiBarChart"></canvas>
        </div>
      </div>
    </div>
    <h1>Message From TTN</h1>
    <div class="message-list">
    </div>
  </div>
</div>
<script>
  // Initial data

  var messageList = document.querySelector('.message-list'); // Corrected
  var lastUpdated = document.getElementById('lastUpdated');
  var temperatureData = []
  var humidityData = []
  var rssiData = [];
  var socket = io();

  socket.on('connect', function () {
    console.log('Connected to server');
  });

  socket.on('message_updated', function (data) {
    data.message.forEach(function (msg) {
        var regex = /M ([\w:]+) - T: (\d+\.\d+) C, H: (\d+\.\d+)/g;
        var match = regex.exec(msg);

        var macAddress = match[1];
        var temperature = parseFloat(match[2]);
        var humidity = parseFloat(match[3]);
        var rssi = data.rssi; // Assuming you're passing the RSSI data along with the message

        var currentTime = new Date().toLocaleTimeString();

        // Update temperature chart
        temperatureData.push(temperature);
        tempBarChart.data.labels.push(currentTime);
        tempBarChart.data.datasets[0].data.push(temperature);
        tempBarChart.update();

        // Update humidity chart
        humidityData.push(humidity);
        humidBarChart.data.labels.push(currentTime);
        humidBarChart.data.datasets[0].data.push(humidity);
        humidBarChart.update();

        // Update RSSI chart
        rssiData.push(rssi);
        rssiBarChart.data.labels.push(currentTime);
        rssiBarChart.data.datasets[0].data.push(rssi);
        rssiBarChart.update();

        lastUpdated.textContent = currentTime;
        lastUpdated.classList.add('lastUpdated');
        setTimeout(function () {
            lastUpdated.classList.remove('lastUpdated');
        }, 1000);

        var newText = document.createElement('p');
        newText.textContent = 'MAC Address: ' + macAddress + ', Temperature: ' + temperature + ', Humidity: ' + humidity + ', RSSI: ' + rssi;
        messageList.appendChild(newText);
    });
});



  var tempCtxBar = document.getElementById('tempBarChart');
  var tempBarChart = new Chart(tempCtxBar, {
    type: 'bar',
    data: {
      labels: [],
      datasets: [{
        label: 'Temperature',
        data: [],
        backgroundColor: 'rgb(75, 192, 192)',
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  var humidCtxBar = document.getElementById('humidityBarChart');
  var humidBarChart = new Chart(humidCtxBar, {
    type: 'bar',
    data: {
      labels: [],
      datasets: [{
        label: 'Humidity',
        data: [],
        backgroundColor: 'rgb(71, 120, 122)',
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  var rssiCtxBar = document.getElementById('rssiBarChart');
  var rssiBarChart = new Chart(rssiCtxBar, {
    type: 'line',
    data: {
      labels: [],
      datasets: [{
        label: 'RSSI',
        data: [],
        backgroundColor: 'rgb(71, 120, 122)',
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
  {% endblock bodyContent %}