{% extends 'layouts/base.html' %}

{% block title %}Chart.js Example{% endblock title %}
{% block headContent %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment/dist/chartjs-adapter-moment.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
{% endblock headContent %}
{% block bodyContent %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Connected Devices</h5>
          <p class="card-text">Number of Plants: <span id="connectedDevices">0</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Current Device</h5>
          <p class="card-text">Device 1 <span id="currentTime"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Last Updated</h5>
          <p class="card-text">Last updated: <span id="lastUpdated"></span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Temperature</h5>
          <canvas id="tempBarChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Humidity</h5>
          <canvas id="humidityBarChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">RSSI</h5>
          <canvas id="rssiBarChart"></canvas>
        </div>
      </div>
    </div> -->
    {% for mac in mac_address %}
    <div class="row mt-3" id="{{mac}}-chartRow1">
    </div>
    <div class="row mt-3" id="{{mac}}-chartRow2">
    </div>
    {% endfor %}
  <!-- <h1>Mac Address</h1> -->
  <!-- <div class="message-list">
    {% for mac in mac_address %}
    <p>{{ mac }}</p>
    {% endfor %} -->
  <!-- </div> -->
</div>
<script>
  var socket = io();
  // var labels = [];
  // var temperatureData = [];
  // var humidityData = [];
  // var rssiData = [];
  var mac_addresses = [];
  var num_charts = 3;
  var last_updated_for_mac_address = {};
  var last_update_for_chart = {};

  document.addEventListener('DOMContentLoaded', function () {
    var socket = io();

    mac_addresses = {{ mac_address|tojson }};
    // console.log("Plant1:",mac_addresses[0]);
    // console.log("Plant2:",mac_addresses[1]);
    document.getElementById('connectedDevices').textContent = mac_addresses.length;

    // Fetch data for each device
    mac_addresses.forEach(macAddress => {
      fetchData(macAddress);
      last_updated_for_mac_address[macAddress] = "";
      console.log("Fetching Data for: ", macAddress);
    });
    
    function fetchData(macAddress) {
      fetch('/get-data', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ mac_address: macAddress })
      })
      .then(response => response.json())
      .then(data => {
        // Handle the response data here
        updateCharts(data);
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
    }

    var tempColor = 'rgba(255, 99, 132, 0.7)'; // Red color with 70% opacity for temperature
    var humidityColor = 'rgba(54, 162, 235, 0.7)'; // Blue color with 70% opacity for humidity
    var rssiColor = 'rgba(255, 205, 86, 0.7)'; // Yellow color with 70% opacity for RSSI

    function updateCharts(response) {
      const data_array = response.data;
      const mac_address = response.mac_address;
      const currentTime = new Date().toLocaleTimeString();
      var labels = [];
      var temperatureData = [];
      var humidityData = [];
      var rssiData = [];

      console.log("Mac Address:", mac_address);
      for (const readings of data_array) {
        // console.log("Readings:", readings);
        labels.push(readings[0]);
        temperatureData.push(readings[1]);
        humidityData.push(readings[2]);
        rssiData.push(readings[3]);
      }
      // For rssi graph
      var container = document.getElementById(mac_address + '-chartRow1');
      var container2 = document.getElementById(mac_address + '-chartRow2');
      container.innerHTML = '<h2>'+mac_address+'</h2>';
      container2.innerHTML = '';
      container.appendChild(createChartCard(mac_address + '-rssiChart', 'RSSI', 'col-md-12'));
      container2.appendChild(createChartCard(mac_address + '-tempChart', 'Temperature'));
      container2.appendChild(createChartCard(mac_address + '-humidityChart', 'Humidity'));
      var rssiConfig = createConfig('RSSI', 'line', rssiData, labels, rssiColor);
      var tempConfig = createConfig('Temperature', 'bar', temperatureData, labels, tempColor);
      var humidityConfig = createConfig('Humidity', 'bar', humidityData, labels, humidityColor);
      createChart(mac_address + '-tempChart', tempConfig, mac_address);
      createChart(mac_address + '-humidityChart', humidityConfig, mac_address);
      createChart(mac_address + '-rssiChart', rssiConfig, mac_address);
    }    
  });
  

  socket.on('connect', function () {
    console.log('Connected to server');
  });

  function createChartCard(canvasId, chartTitle, chartSize) {
    // Create the card div
    var cardDiv = document.createElement('div');
    cardDiv.className = chartSize ? chartSize : 'col-md-6';

    // Create the card element
    var card = document.createElement('div');
    card.className = 'card';

    // Create the card body
    var cardBody = document.createElement('div');
    cardBody.className = 'card-body';

    // Create the card title
    var title = document.createElement('h5');
    title.className = 'card-title';
    title.textContent = chartTitle;

    // Create the canvas element for the chart
    var canvas = document.createElement('canvas');
    canvas.id = canvasId;
    canvas.height = 80;

    // Append title and canvas to the card body
    cardBody.appendChild(title);
    cardBody.appendChild(canvas);

    // Append card body to the card
    card.appendChild(cardBody);

    // Append card to the card div
    cardDiv.appendChild(card);

    // Return the card div
    return cardDiv;
  }

  function createConfig(label, type, data = [], labels = [], color) {
    return {
      type: type,
      data: {
        labels: labels,
        datasets: [{
          label: label,
          data: data,
          backgroundColor: color,
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };
  }

  var last_updated_post = "";

  function createChart(canvasId, config, mac_address) {
    var ctx = document.getElementById(canvasId).getContext('2d');
    var chart = new Chart(ctx, config);

    // Listen for the data_update event from the server
    socket.on('data_update', function(data) {
      console.log("Data Update:", data.data);
      const arrayObject = data.data;
      var index = 0;
      for(var i = 0; i < arrayObject.length; i++){
        if(arrayObject[i].indexOf(mac_address) != -1){
          console.log("Index of Mac Address:", i);
          index = i;
          break;
        }
      }

      // Get the RSSI, temperature, and humidity values from the data array
      const rssi = arrayObject[index][4];
      const temp = arrayObject[index][2];
      const humidity = arrayObject[index][3];
      console.log("current mac is ",arrayObject[index])
      
      // Shift the labels and data arrays if they exceed 10 elements
      if (config.data.labels.length === 10) {
        config.data.labels.shift();
        config.data.datasets[0].data.shift();
      }
      currentTime = new Date().toLocaleTimeString();
      
      // Append the new data to data arrays based on the chart type (temperature, humidity, or rssi)
      if(canvasId.includes('rssi')){
        config.data.datasets[0].data.push(rssi);
      }
      else if(canvasId.includes('temp')){
        config.data.datasets[0].data.push(temp);
      }
      else if(canvasId.includes('humidity')){
        config.data.datasets[0].data.push(humidity);
      }

      // Append the current time to the labels array if it's different from the last updated time
      if(last_updated_for_mac_address[mac_address] != currentTime){
        last_updated_for_mac_address[mac_address] = currentTime;
        config.data.labels.push(currentTime);
      }
      chart.update();
    });

    // console.log(socket_enabled)
    
    
  }



</script>
{% endblock bodyContent %}