{% extends 'layouts/base.html' %}

{% block title %}404{% endblock title %}


{% block navContent %}
{% endblock navContent %}

{% block bodyContent %}
<div class="d-flex justify-content-center align-items-center" id="main" style="height: 100vh;">
  <h1 class="mr-3 pr-3 align-top border-end inline-block align-content-center pe-3">404</h1>
  <div class="inline-block align-middle ps-3">
    <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
  </div>
</div>
{% endblock bodyContent %}